@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#main {
    margin-top: 70px;
}

#container {
  width: 100%;
  display: inline-block;
}

nav {
  z-index: 10;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    li {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 17px;
      a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px;
        &:hover {
          background-color: #111;
        }
      }
    }
  }
}

.content {
  text-align: center;
}

.material-icons{
  font-family: 'Material Icons' !important;
  color: white;
}

body {
  background: #e9e9e9;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span {
  //color: #666;
  //font-size: 12px;
  //display: block;
  //position: absolute;
  bottom: 10px;
  // position: absolute;
  width: 90%;
  // left: 50%;
  // top: 45%;
  // bottom: auto;
  // right: auto;
  // transform: translateX(-50%) translateY(-50%);
  text-align: center;
  display: inline-block;
  a {
    color: #000000;
    text-decoration: none;
  }
  .love {
    color: red;
    margin: 0 3px;
    font-size: 10px;
    animation: pound .35s infinite alternate;
    -webkit-animation: pound .35s infinite alternate;
  }
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}


@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

::ng-deep .mat-paginator {
  width: 90%;
  // display: flex;
  // justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

